 /* Extra small devices (portrait phones, less than 576px) default size */
@media (max-width: 575.98px) {
    [class*="col-xs-*"] {
        width: 100%;
    }
    
    .btn-show-all {
        padding: .9rem 4rem;
    }

}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {


}

 /* Medium devices (tablets, 768px and up) (max-width: 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* IMAGE */
    .image {
        max-width: 60%;
        height: auto;
        display: block;
        padding-top: 3%;
        opacity: 0.7;
    }
}


 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 999.98px) {

    /* IMAGE */
    .image {
        max-width: 60%;
        height: auto;
        display: block;
        padding-top: 3%;
        opacity: 0.7;
    }
}

/* !* Extra large devices (large desktops, 1200px and up) *!*/
@media (min-width: 1100px) {

    /* IMAGE */
    .image {
        max-width: 50%;
        height: auto;
        display: block;
        padding-top: 3%;
        opacity: 0.7;
    }
}

