<IfModule mod_expires.c>
# Enable expirations
ExpiresActive On 
# Default directive
ExpiresDefault "access plus 1 month"
# My favicon
ExpiresByType image/logo5/webp "access plus 1 year"
# Images
ExpiresByType portfolio2/webp "access plus 1 year"
ExpiresByType hilogame2/mp4 "access plus 1 year"
ExpiresByType language2/mp4 "access plus 1 year"
ExpiresByType store2/mp4 "access plus 1 year"
ExpiresByType 3d-shape/webp "access plus 1 year"
ExpiresByType envelope/png "access plus 1 year"
ExpiresByType finger/png "access plus 1 year"
ExpiresByType git-hub/webp "access plus 1 year"
ExpiresByType hand-gesture/png "access plus 1 year"
ExpiresByType linkedlin2/webp "access plus 1 year"
ExpiresByType logo5.webp "access plus 1 year"
ExpiresByType store2/mp4 "access plus 1 year"
# CSS
ExpiresByType style/css "access plus 1 month"
# Javascript
ExpiresByType application/javascript "access plus 1 year"
</IfModule>

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE index/html

# Or, compress certain file types by extension:
<files *.mp4>
SetOutputFilter DEFLATE
</files>